<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>
    <title>Jokes</title>
</head>
<body>
    {{>navbar}}
    <div class='container'><h3>Laughter is the best Medicine,Check out the different kinds of jokes by clicking on tabs on the nav Bar.<br>However come back to this page when you dont want to read more jokes</h3></div>
    {{>footer}}
</body>
</html>